<div class="container">
  <div class="row">
    <!--FORM-->
    <div class="col-md-5 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h1>Update Task</h1>

          <form action="/tasks/{{task._id}}/edit" method="post">
            <div class="mb-3">
              <input
                class="form-control"
                type="text"
                name="name"
                placeholder="Title"
                value="{{task.name}}"
              />
            </div>
            <div class="mb-3">
              <textarea
                class="form-control"
                name="email"
                rows="3"
                placeholder="Add a Description"
              >{{task.email}}</textarea>
            </div>
            <div class="mb-3">
              <textarea
                class="form-control"
                name="password"
                rows="3"
                placeholder="Add a Description"
              >{{task.password}}</textarea>
            </div>
            <div class="mb-3">
              <textarea
                class="form-control"
                name="contact"
                rows="3"
                placeholder="Add a Description"
              >{{task.contact}}</textarea>
            </div>
            <div class="mb-3">
              <textarea
                class="form-control"
                name="location"
                rows="3"
                placeholder="Add a Description"
              >{{task.location}}</textarea>
            </div>
            <button class="btn btn-primary" type="submit">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>